<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:if="${getUserRole == 'ROLE_ADMIN'}" class="active"><a href="/adminpage">Admin Page</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li><a href="/tests">Tests</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login?logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <table class="w3-table">
        <thead>
            <th>Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Results</th>
        </thead>
        <tbody>
        <tr th:each="user : ${allUsers}" th:if="${user.id != currentUserId}">
            <td style="margin: 10px; padding: 5px;" th:text="${user.login}"></td>
            <td style="margin: 10px; padding: 5px;" th:text="${user.userDetails.firstName}"></td>
            <td style="margin: 10px; padding: 5px;" th:text="${user.userDetails.lastName}"></td>
            <td>
                <button class="btn btn-info btn-xs" data-toggle="collapse"
                        th:attr="data-target='#showResult'+${user.id}">Show
                    User Results
                </button>
                <table th:id="'showResult' + ${user.id}" class="collapse">
                    <tbody>
                    <tr th:each="userResult : ${user.userResults}">
                        <td style="margin: 10px; padding: 5px;" th:text="${userResult.getTest().getName()}"></td>
                        <td style="margin: 10px; padding: 5px;" th:text="${userResult.getAchievedPoints()}"></td>
                        <td style="margin: 10px; padding: 5px;" th:text="${userResult.getAccomplishedDate()}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <form th:if="${user.role == 'ROLE_USER'}" th:action="@{/addadmin}" th:object="${user}" method="post">
                <td><input type="hidden" name="id" th:value="${user.id}"/></td>
                <td><input type="hidden" name="role" th:value="${user.role}"/></td>
                <td>
                    <button class="btn btn-warning" type="submit">Add Admin</button>
                </td>
            </form>
            <form th:if="${user.role == 'ROLE_ADMIN'}" th:action="@{/deleteadmin}" th:object="${user}" method="post">
                <td><input type="hidden" name="id" th:value="${user.id}"/></td>
                <td><input type="hidden" name="role" th:value="${user.role}"/></td>
                <td>
                    <button class="btn btn-warning" type="submit">Delete Admin</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>