<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <title>Tests</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:if="${getUserRole == 'ROLE_ADMIN'}" class="active"><a href="/adminpage">Admin Page</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li><a href="/tests">Tests</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login?logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <a class="w3-button w3-white w3-border w3-border-green w3-round-large" role="button"
       th:href="@{/createtest}">Create test</a>
    <table>
        <thead>
        <th>Title</th>
        <th>Level</th>
        <th>Type</th>
        </thead>
        <tbody>
        <tr th:each="test : ${allTests}">
            <td style="margin: 10px; padding: 5px;" th:text="${test.getTitle()}"></td>
            <td style="margin: 10px; padding: 5px;" th:text="${test.getLevel()}"></td>
            <td style="margin: 10px; padding: 5px;" th:text="${test.getType()}"></td>
            <td style="margin: 10px; padding: 5px"><a role="button"
                                                      th:href="@{/updatetest(id=${test.getId()})}">Update</a></td>
            <td style="margin: 10px; padding: 5px">
                <form th:action="@{/deletetest(id=${test.getId()})}" method="post">
                    <button value="delete">Delete</button>
                </form>
            </td>
            <td style="margin: 10px; padding: 5px;"><a type="button" th:href="@{/createtask(testId=${test.getId()})}">Add
                task</a></td>
            <td>
                <button class="btn btn-info btn-xs" data-toggle="collapse"
                        th:attr="data-target='#showTasks'+${test.id}">Show
                    test tasks
                </button>
                <table th:id="'showTasks' + ${test.id}" class="collapse">
                    <thead>
                    <th>Task</th>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${test.tasks}">
                        <td style="margin: 10px; padding: 5px;" th:text="${task.getTask()}"></td>
                        <td style="margin: 10px; padding: 5px"><a role="button"
                                                                  th:href="@{/updatetask(id=${task.getId()})}">Update</a>
                        </td>
                        <td style="margin: 10px; padding: 5px">
                            <form th:action="@{/deletetask(id=${task.getId()})}" method="post">
                                <button value="delete">Delete</button>
                            </form>
                        </td>
                        <td style="margin: 10px; padding: 5px;"><a type="button" th:href="@{/createquestion(taskId=${task.getId()})}">Add question</a></td>
                        <td style="margin: 10px; padding: 5px;">
                            <button class="btn btn-info btn-xs" th:attr="data-target='#showQuestions' + ${task.id}"
                                    data-toggle="collapse">Show questions
                            </button>
                            <table th:id="'showQuestions' + ${task.id}" class="collapse">
                                <thead>
                                <th>Question</th>
                                <th>Answer</th>
                                </thead>
                                <tbody>
                                <tr th:each="question : ${task.questionsSet}">
                                    <td style="margin: 10px; padding: 5px" th:text="${question.getQuestion()}"></td>
                                    <td style="margin: 10px; padding: 5px" th:text="${question.getAnswer()}"></td>
                                    <td style="margin: 10px; padding: 5px"><a role="button" th:href="@{/updatequestion(id=${question.getId()})}">Update</a></td>
                                    <td style="margin: 10px; padding: 5px">
                                        <form th:action="@{/deletequestion(id=${question.getId()})}" method="post">
                                            <button value="delete">Delete</button>
                                        </form></td>
                                    <td style="margin: 10px; padding: 5px;"><a type="button" th:href="@{/createoption(questionId=${question.getId()})}">Add option</a></td>
                                    <td style="margin: 10px; padding: 5px">
                                        <button class="btn btn-info btn-xs"
                                                th:attr="data-target='#showOptions' + ${question.id}"
                                                data-toggle="collapse">Show options
                                        </button>
                                        <table th:id="'showOptions' + ${question.id}" class="collapse">
                                            <thead>
                                            <th>Option</th>
                                            </thead>
                                            <tbody>
                                            <tr th:each="option : ${question.optionsSet}">
                                                <td style="margin: 10px; padding: 5px"
                                                    th:text="${option.getOption()}"></td>
                                                <td style="margin: 10px; padding: 5px"><a role="button">Update</a></td>
                                                <td style="margin: 10px; padding: 5px"><a role="button">Delete</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/1f6ee6e8e6.js"></script>
</body>
</html>