<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta task="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <title>Create Task</title>
</head>
<body>
<div class="container">
    <form th:action="@{/createoption}" method="post" th:object="${newOption}">
        <div class="form-group">
            <label for="inputOption">Option:</label>
            <input class="form-control" type="text" id="inputOption" placeholder="Enter option" th:required="required"
                   th:field="*{option}"/>
        </div>
        <input type="hidden" th:value="${newOption.getQuestions()}" th:field="*{questions}"/>
        <button type="reset" class="btn btn-light"> Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</html>