<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta task="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <title>Create Test</title>
</head>
<body>
<div class="container">
    <form th:action="@{/createtest}" method="post" th:object="${test}">
        <div class="form-group">
            <label for="inputTestTitle">Title:</label>
            <input class="form-control" type="text" id="inputTestTitle" placeholder="Enter title" th:required="required"
                   th:field="*{title}"/>
        </div>
        <div class="form-group">
            <input type="radio" th:field="*{type}" value="listening"/> listening
            <input type="radio" th:field="*{type}" value="reading"/> reading
            <input type="radio" th:field="*{type}" value="grammar"/> grammar
        </div>
        <div class="form-group">
            <label for="inputTestLevel">Level:</label>
            <input class="form-control" type="text" id="inputTestLevel" placeholder="Enter level" th:required="required"
                   th:field="*{level}"/>
        </div>
        <div class="form-group">
            <label for="inputTestVideoUrl">Video url(optional):</label>
            <input class="form-control" type="text" id="inputTestVideoUrl" placeholder="Enter video url"
                   th:required="required"
                   th:field="*{videoUrl}"/>
        </div>
        <button type="reset" class="btn btn-light"> Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</html>