<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta task="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" type="text/css" href="css/form.css"/>
    <link rel="stylesheet" type="text/css" href="css/util.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <title>Create Test</title>
</head>
<body>
<nav class="topnav">
    <a class="header hvr-underline-from-center" href="/index"><i class="fas fa-home"></i> WebSiteName</a>
    <a th:if="${getUserRole == 'ROLE_ADMIN'}" class="hvr-underline-from-center" href="/adminpage"><i
            class="fas fa-user-shield"></i> Admin Page</a>
    <a href="/myprofile" class="hvr-underline-from-center"><i class="fas fa-user"></i> My Profile</a>
    <a href="/tests" class="hvr-underline-from-center"><i class="fas fa-book-open"></i> Tests</a>
    <div class="topnav-right">
        <a href="/login?logout" class="hvr-grow-shadow"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
    </div>
</nav>
<div class="limiter">
    <div class="container-tests">
        <div class="wrap-tests">
            <div class="container">
                <form th:action="@{/createtest}" method="post" th:object="${test}">
                    <div class="row">
                        <div class="col-25">
                            <label for="fname">Title</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fname" th:required="required" th:field="*{title}"
                                   placeholder="Test title.."/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="type">Type</label>
                        </div>
                        <div class="col-75">
                            <select id="type" th:required="required" th:field="*{type}">
                                <option value="listening">Listening</option>
                                <option value="reading">Reading</option>
                                <option value="grammar">Grammar</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="level">Level</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="level" th:required="required" th:field="*{level}"
                                   placeholder="Test level..."/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="videoUrl">Video URL (for listening tests)</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="videoUrl" th:field="*{videoUrl}" placeholder="URL..."/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="text">Test text (for reading tests)</label>
                        </div>
                        <div class="col-75">
                            <textarea id="text" placeholder="Write text..." style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/1f6ee6e8e6.js"></script>
<script src="js/main.js"></script>
</html>