<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>sign up!</title>
</head>
<body>

<div class="container">
    <form th:action="@{/register-process}" method="post">
        <div class="form-group">
            <label for="inputLogin">Login:</label>
            <input class="form-control" type="text"  id="inputLogin" placeholder="Enter login" th:required="required" name="login" />
        </div>
        <div class="form-group">
            <label for="inputPassword">Password:</label>
            <input class="form-control" type="password" id="inputPassword" placeholder="Enter password" th:required="required" name="password" />
            <p class="alert alert-danger" th:if="${param.error}" th:text="'login or password is not correct'"></p>
        </div>
        <button type="reset" class="btn btn-light"> Reset </button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>