<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <title th:text="${getTest.name}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:if="${getUserRole == 'ROLE_ADMIN'}" class="active"><a href="/adminpage">Admin Page</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li><a href="/tests">Tests</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login?logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div style="width:800px; margin:0 auto;" th:if="${getTest.videoUrl != null}">
        <iframe width="560" height="315" th:src="${getTest.videoUrl}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen="1"></iframe>
    </div>
    <ul class="w3-ul">
        <form onsubmit="return confirm('Do you really want to submit the answers?');" method="post"
              th:action="@{result-process}" th:object="${userAnswers}">
            <input type="hidden" name="testId" th:value="${getTest.id}"/>
            <li th:each="task: ${taskList}"><h3 th:text="${task.name}"></h3>
                <ol type="1">
                    <li th:each="question: ${task.questionsSet}"><h4 th:text="${question.question}"></h4>
                        <input type="hidden" name="questionId" th:value="${question.id}"/>
                        <ul th:if="${question.optionsSet.isEmpty()}" class="list-group-item">
                            <li class="list-group-item">
                                <input class="w3-input w3-animate-input" type="text" th:field="*{answer}"/>
                            </li>
                        </ul>
                        <ul th:if="${!question.optionsSet.isEmpty()}" class="list-group">
                            <li class="list-group-item">
                                <select th:field="*{answer}" class="w3-select w3-border">
                                    <option value="" selected="selected">Choose here</option>
                                    <option th:each="option: ${question.optionsSet}" th:value="${option.option}"
                                            th:text="${option.option}"></option>
                                </select>
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>