<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:if="${getUserRole == 'ROLE_ADMIN'}" class="active"><a href="/adminpage">Admin Page</a></li>
            <li><a href="/myprofile">My Profile</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Tests
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <div class="w3-dropdown-hover">
                        <button class="w3-button w3-white w3-round-large">Grammar</button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <p th:if="${getGrammar.isEmpty()}">there is no tests yet</p>
                            <a class="w3-bar-item w3-button" th:each="grammarTest : ${getGrammar}"
                               th:href="@{/test(id=${grammarTest.id})}"
                               th:text="${grammarTest.name + ' ' + grammarTest.level}"
                               th:value="${grammarTest.name}"></a>
                        </div>
                    </div>
                    <div class="w3-dropdown-hover">
                        <button class="w3-button w3-white w3-round-large">Reading</button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <p th:if="${getReading.isEmpty()}">there is no tests yet</p>
                            <a class="w3-bar-item w3-button" th:each="readingTest : ${getReading}"
                               th:href="@{/test(id=${readingTest.id})}"
                               th:text="${readingTest.name + ' ' + readingTest.level}"
                               th:value="${readingTest.name}"></a>
                        </div>
                    </div>
                    <div class="w3-dropdown-hover">
                        <button class="w3-button w3-white w3-round-large">Listening</button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <p th:if="${getListening.isEmpty()}">there is no tests yet</p>
                            <a class="w3-bar-item w3-button" th:each="listeningTest : ${getListening}"
                               th:href="@{/test(id=${listeningTest.id})}"
                               th:text="${listeningTest.name + ' ' + listeningTest.level}"
                               th:value="${listeningTest.name}"></a>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login?logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div style="width:800px; margin:0 auto;" th:if="${getTest.videoUrl != null}">
        <iframe width="560" height="315" th:src="${getTest.videoUrl}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen="1"></iframe>
    </div>
    <ul>
        <form onsubmit="return confirm('Do you really want to submit the answers?');" method="post"
              th:action="@{result-process}" th:object="${userAnswers}">
            <input type="hidden" name="testId" th:value="${getTest.id}"/>
            <li th:each="task: ${taskList}"><h3 th:text="${task.name}"></h3>
                <ol type="1">
                    <li th:each="question: ${task.questionsSet}"><h4 th:text="${question.question}"></h4>
                        <input type="hidden" name="questionId" th:value="${question.id}"/>
                        <ul th:if="${question.optionsSet.isEmpty()}">
                            <li>
                                <input type="text" th:field="*{answer}"/>
                            </li>
                        </ul>
                        <ul th:if="${!question.optionsSet.isEmpty()}">
                            <li>
                                <select th:field="*{answer}">
                                    <option value="" selected="selected">Choose here</option>
                                    <option th:each="option: ${question.optionsSet}" th:value="${option.option}"
                                            th:text="${option.option}"></option>
                                </select>
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>