<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta task="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <title>Update Question</title>
</head>
<body>
<div class="container">
    <form th:action="@{/updatequestion}" method="post" th:object="${questionToUpdate}">
        <div class="form-group">
            <label for="inputQuestion">Question:</label>
            <input class="form-control" type="text" id="inputQuestion" placeholder="Enter question" th:required="required"
                   th:field="*{question}" th:value="${questionToUpdate.getQuestion()}"/>
        </div>
        <div class="form-group">
            <label for="inputAnswer">Answer:</label>
            <input class="form-control" type="text" id="inputAnswer" placeholder="Enter answer" th:required="required"
                   th:field="*{answer}" th:value="${questionToUpdate.getAnswer()}"/>
        </div>
        <input type="hidden" th:value="${questionToUpdate.getId()}" th:field="*{id}"/>
        <input type="hidden" th:value="${questionToUpdate.getTask()}" th:field="*{task}"/>
        <button type="reset" class="btn btn-light"> Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</html>